<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary"> Sign Up</h2>
    <hr>
    <div class="form-group">
        <input 
            [class.is-invalid]='registerForm.get("username")?.errors && registerForm.get("username")?.touched'
            type="text" 
            class="form-control mb-2" 
            formControlName='username' 
            placeholder="Username">
            <div class="invalid-feedback mb-3">Please Enter a username</div>
        <input 
        [class.is-invalid]='registerForm.get("password")?.errors && registerForm.get("password")?.touched'
            type="password" 
            class="form-control mb-2" 
            formControlName='password' 
            placeholder="Password">
        <input 
            type="password" 
            class="form-control mb-2" 
            formControlName='confirmPassword' 
            placeholder="Confirm Password">
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-light mr-2" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form satus: {{registerForm.status | json}}</p>
